body {
    background-image: linear-gradient(white, rgb(208 240 247));
    background-repeat: no-repeat;
}

.header {
    background-image: url("./Assets/Images/home1.jpg");
    border-radius: 20px 20px 0px 0px;
    background-size: cover;
}

.h1_size {
    font-size: 3.5em;
}

.ExploreButton {
    background-color: rgb(19 79 91);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    color: white;
}

.fa-twitter {
    color: white;
}

.fa-instagram {
    color: white;
}

.about_section {
    padding: 16px 0;
}

.about_container {
    display: flex;

}

.about_data {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.about_title {
    color: #14505c;
}

.section_title {
    text-align: center;
}

.about_data .about_description {
    color: #1d5c69;
    padding: 30px 0;
    font-size: 17px;
    font-weight: 500;
    padding-right: 40px;
    margin-bottom: 20px;
}

.about_data .button {
    padding: 16px 32px;
    background-color: #14505c;
    color: white;
    text-decoration: none;
    font-size: 18px;
    width: 200px;
    font-weight: 500;
    transition: all .5s;
}

.about_img {
    display: flex;
    flex-basis: 50%;
    justify-content: space-around;
    align-items: center;
}


.about_img-one {
    width: 195px;
}

.about_img-two {
    width: 250px;
}

.about_image-overlay {
    overflow: hidden;
}


.about_image-overlay img {
    transition: transform .1s ease;
}

.about_img-one:hover,
.about_img-two:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.subscribe_bg {
    background-color: hsl(190, 64%, 22%);
    padding: 2.5rem 0;
}


.subscribe_description {
    text-align: center;
    margin-bottom: 2.5rem;
}

.subscribe_form {
    display: flex;
    justify-content: center;
}

.subscribe_input {
    width: 25%;
    padding-right: .5rem;
    background-color: hsl(190, 24%, 97%);
    color: hsl(190, 24%, 35%);
    height: 3rem;
}

.subscribe_input::placeholder {
    color: hsl(190, 24%, 35%);
}

.btn_style {
    background-color: rgb(13 100 118) !important;
    margin-top: -3px;
    margin-left: 33px;
}


.video_description {
    font-size: 14px;
    padding-top: 10px;
    color: #14505c;
    text-align: center;
}

.video_content {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.video-file {
    margin: auto;
    width: 80%;
}

.experience_section {
    padding: 0 0 200px 0;
}

.experience_content {
    display: flex;
    /* text-align: center; */
    font-family: 'Open Sans', sans-serif;
    padding: 40px 0;
    /* align-items: center; */
    justify-content: center;
}


.experience_data {
    padding: 0 20px;
}

.experience_number {
    font-family: 'Raleway', sans-serif;
    padding-bottom: 7px;
    color: #14505c;
}

.experience_description {
    font-size: 14px;
    color: #14505c;
}

.experience_img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.experience_image-overlay {
    position: relative;
}

.experience_img .experience_image-overlay .experience_img-one {
    width: 100%;
    width: 434px;
}

.experience_img .experience_image-overlay .experience_img-two {
    width: 250px;
    position: absolute;
    top: -235px;
    left: 101px;
}

.choose_image {
    width: 100%;
    height: 300px;
    margin: 20px;
}

.image {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.image .overlay {
    position: absolute;
    bottom: 0;
    padding-left: 25px;
    padding-top: 15px;
    width: 100%;
    color: white;
    font-size: 20px;
    z-index: 5;
}

.image .overlay::before {
    content: "";
    background: #ffff;
    height: 100%;
    width: 100%;
    z-index: 1;
    position: absolute;
    left: 0;
    bottom: -150px;
    z-index: -2;
    opacity: 0.5;
    transition: all 0.3s ease-out;
}

.image:hover .overlay {
    color: black;
}

.image:hover .overlay::before {
    bottom: 0px;
}

.textmuted {
    color: #f8f8f8;
    font-weight: 200;
    font-size: 15px;
    text-transform: capitalize;
}